<!doctype html>
<html lang="en">
  <head>
    <title>About Us</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/Home.css">
    <link rel="boostrap" href="css/bootstrap.min.css">

    
  <body>
    <table class="nav">
        <tr >
            <td>
                <img src="Home\Health logo - Made with PosterMyWall 1.png" alt="Logo" class="img">

            </td>
            <td ><a href="/">Home</a></td>
            <td><a href="about">About Us</a></td>
            <td><a href="our">Our Services</a></td>
            <td><a href="contac">Contact Us</a></td>
            <td><a href="stafflogin"><button class="bu1">Staff Login</button></a></td>

              
        </tr>
    </table>
    <div class="text-center">
        <div class="about" >
            <div class="cont">
                <div class="about-text">
                    <h2 class="h2">About Us</h2>
                    <br>
                    <h4 class="h4">
                        Asclepius hospital is known globally 
                        for top experts<br> clinical outcomes and exceptional <br>personal and
                         service.<br> Among the world’s top destinations for healthcare ,
                          Asclepius hospital<br> has earned the trust of patients across
                           Asia-pacific with<br> our strategic pairing of skilled medical <br>
                           professionals and cutting edge<br> technology.
                    </h4>
                    <br>

                    <h2 class="h2">
                        Our Mission
                    </h2>
                    <br>
                    <h4 class="h4">We serve our community by promoting health and providing high 
                        and<br> providing high quality healthcare with compassion & respect.
                    </h4>
                    <br>
                    <h2 class="h2">Our Vision</h2>
                    <br>
                    <h4 class="h4">Asclepius hospital will be the provider of choice within our communities ,<br> responsive to the healthcare environment while serving as 
                        the voice and <br>vehicle for promoting healthcare access to all.
                    </h4>



                </div>
                
                <button class="a1"><a href="BillPayment.html" ><img src="Home/icons8-receive-dollar-50.png"></a></button>
                <button class="a2"><a href="ChannelYourDoctor.html" ><img src="Home/stethoscope 1.png"></a></button>
                <button class="a3"><a href="ContactUs.html"><img src="Home/health-service 1.png"></a></button>
                
                <button class="a4"><a href="OurServices.html"><img src="Home/support 1.png"></a></button>
                <button class="a5"><a href="About.html"><img src="Home/group 1.png"></a></button>
                <img class="about-image" src="Home/national-cancer-institute-1c8sj2IO2I4-unsplash 1.png">
                
            </div>

        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="col-12">
                <div class="row" >
                    <div class="col-4">
                        <h4 class="con">CONTACT US</h4>
                        <h4 class="det">CONTACT DETAILS</h4>
                        <h4 class="loc">LOCATION</h4>
                        <a href=""><img class="footer-image"src="Home/linkedin.png"></a>
                        <a href=""><img class="footer-image1"src="Home/facebook 1.png"></a>
                        <a href=""><img class="footer-image2"src="Home/instagram 1.png"></a>
                        <h5 class="contact-details">
                            Asclepius Hospital Lorance Road, Colombo 04.<br><br> Phone:+94011 152 099 <br><br><a>Email:info@asclepiushospital.lk</a>
                        </h5>
                        <a href=""><img class="map-image" src="Home/Group 71.png"></a>

                    </div>
                </div>

            </div>
            

        </div>
    </footer>
    
  </body>
</html>