<!doctype html>
<html lang="en">
  <head>
    <title>Channel Your Doctor</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="Home.css">
    <link rel="boostrap" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/channeldoctor.js" ></script>

   
  </head>
  <body>

    <table class="nav">
        <tr >
            <td>
                <img src="Home\Health logo - Made with PosterMyWall 1.png" alt="Logo" class="img">

            </td>
            <td ><a href="Home.html">Home</a></td>
            <td><a href="About.html">About Us</a></td>
            <td><a href="OurServices.html">Our Services</a></td>
            <td><a href="ContactUs.html">Contact Us</a></td>
            <td><a href="StaffLogin.html"><button class="bu1">Staff Login</button></a></td>

              
        </tr>
    </table>
    <div class="text-center">
        <div class="about" >
            <div class="cont">
                
                <button class="a1"><a href="BillPayment.html" ><img src="Home/icons8-receive-dollar-50.png"></a></button>
                <button class="a2"><a href="ChannelYourDoctor.html" ><img src="Home/stethoscope 1.png"></a></button>
                <button class="a3"><a href="ContactUs.html"><img src="Home/health-service 1.png"></a></button>
                
                <button class="a4"><a href="OurServices.html"><img src="Home/support 1.png"></a></button>
                <button class="a5"><a href="About.html"><img src="Home/group 1.png"></a></button>
                <img class="about-image" src="Home/national-cancer-institute-1c8sj2IO2I4-unsplash 1.png">

                <h2 style="position: absolute;color: #308EAB;font-size: 48px; margin-left: 250px;margin-top: -1100px;">Channel Your Doctor</h2>
                    <form class="form" method="post">
                        
                            <label for="doctor-name">Doctor's Name:</label><br>
                        <input class="doc-name"type="text" id="doctor-name" name="doctor-name"><br><br>
                        
                        <label for="disease">Disease:</label><br>
                        <input class="disease" type="text" id="disease" name="disease"><br><br>
                        
                        <label for="date">Date:</label><br>
                        <input class="date"type="date" id="date" name="date"><br><br>
                        
                        <label for="time">Time:</label><br>
                        <input class="time" type="time" id="time" name="time"><br><br>
                        
                        <label for="patient-name">Patient's Name:</label><br>
                        <input class="patient-name" type="text" id="patient-name" name="patient-name"><br><br>
                        
                        <label for="patient-contact">Patient's Contact Number:</label><br>
                        <input class="patient-con"type="tel" id="patient-contact" name="patient-contact"><br><br>
                        
                        <a src="BillPayment.html"><button class="sub" type="submit" id="Channel-now" name="Channel-now">Channel Now</button></a>

                     
                        
                      </form>
                
                
            </div>

        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="col-12">
                <div class="row" >
                    <div class="col-4">
                        <h4 class="con">CONTACT US</h4>
                        <h4 class="det">CONTACT DETAILS</h4>
                        <h4 class="loc">LOCATION</h4>
                        <a href=""><img class="footer-image"src="Home/linkedin.png"></a>
                        <a href=""><img class="footer-image1"src="Home/facebook 1.png"></a>
                        <a href=""><img class="footer-image2"src="Home/instagram 1.png"></a>
                        <h5 class="contact-details">
                            Asclepius Hospital Lorance Road, Colombo 04.<br><br> Phone:+94011 152 099 <br><br><a>Email:info@asclepiushospital.lk</a>
                        </h5>
                        <a href=""><img class="map-image" src="Home/Group 71.png"></a>

                    </div>
                </div>

            </div>
            

        </div>
    </footer>
    
    
  </body>
</html>