<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <title>Contact Us</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/Home.css">
    <link rel="boostrap" href="css/bootstrap.min.css">
    <script src="js/ContactUs.js" type="text/javascript"></script>

    
  </head>
  <body>
    <table class="nav">
        <tr >
            <td>
                <img src="Home\Health logo - Made with PosterMyWall 1.png" alt="Logo" class="img">

            </td>
            <td ><a href="/">Home</a></td>
            <td><a href="about">About Us</a></td>
            <td><a href="our">Our Services</a></td>
            <td><a href="contac">Contact Us</a></td>
            <td><a href="stafflogin"><button class="bu1">Staff Login</button></a></td>

              
        </tr>
    </table>
    <div class="text-center">
        <div class="about" >
            <div class="cont">
                <h2 class="contact">Contact Us</h2>
                
                <img class="about-image" src="Home/national-cancer-institute-1c8sj2IO2I4-unsplash 1.png">
                <div class="detail">
                    <table class="con-de">
                        <tr>
                            <td class="con-td1">
                                Asclepius Hospital<br> Lorance Road,<br> Colombo 04

                            </td>
                            
                            <td class="con-td">
                                Genetal Line +9401152099<br><br>Channeling<br> Hotline +9401124039<br><br>Email <a>info@asclepiushospital.lk</a>

                            </td>
                        </tr>
                    </table>

                </div>
                <div class="contact-form" style="margin-left: 300px;margin-bottom: 100px;">
                    <fieldset style="margin-top: -100px;">
                        <form action="https://formsubmit.co/mithuja999@gmail.com" method="post" >
                            <label class="label-contact" for="name">Your Name:</label>
                            <input class="contact-input" type="text" id="name" name="name" placeholder="Enter Your Name.." required><br><br>
                          
                            <label class="label-contact"for="email">Email:</label>
                            <input class="contact-input" style="margin-left: 85px;;" type="email" id="email" name="email" placeholder="Enter Your Email.." required><br><br>
                          
                            <label class="label-contact"for="telephone">Telephone:</label>
                            <input style="margin-left: 15px;" class="contact-input"type="tel" id="telephone" name="telephone" placeholder="Enter Your Telephone No.." required><br><br>
                          
                            <label style="margin-bottom: -50px;" class="label-contact"for="message">Message:</label>
                            <textarea id="message" style="font-size:24px ;width: 460px;height: 120px;margin-left: 30px;border-radius: 20px;" name="message" placeholder="Enter Your Message.." required></textarea><br><br>
                            
                          
                            <button style="font-size:24px;width: 170px;height: 65px;background-color: #4AAFB3;border-radius: 20px;border: none;margin-left: 330px;margin-top: 40px;"type="submit">Send</button>
                          </form>

                    </fieldset>
                    
                      
                </div>
            </div>

        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="col-12">
                <div class="row" >
                    <div class="col-4">
                        <h4 class="con">CONTACT US</h4>
                        <h4 class="det">CONTACT DETAILS</h4>
                        <h4 class="loc">LOCATION</h4>
                        <a href=""><img class="footer-image"src="Home/linkedin.png"></a>
                        <a href=""><img class="footer-image1"src="Home/facebook 1.png"></a>
                        <a href=""><img class="footer-image2"src="Home/instagram 1.png"></a>
                        <h5 class="contact-details">
                            Asclepius Hospital Lorance Road, Colombo 04.<br><br> Phone:+94011 152 099 <br><br><a>Email:info@asclepiushospital.lk</a>
                        </h5>
                        <a href=""><img class="map-image" src="Home/Group 71.png"></a>

                    </div>
                </div>

            </div>
            

        </div>
    </footer>
    
    
  </body>
</html>