<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="css/Home.css">
    <link rel="boostrap" href="/css/bootstrap.min.css">
    <link rel="script" href="">
    

</head>
<body >
    <table class="nav">
        <tr >
            <td>
                <img src="Home\Health logo - Made with PosterMyWall 1.png" alt="Logo" class="img">

            </td>
            <td ><a href="/">Home</a></td>
            <td><a href="about">About Us</a></td>
            <td><a href="our">Our Services</a></td>
            <td><a href="contac">Contact Us</a></td>
            <td><a href="stafflogin"><button class="bu1">Staff Login</button></a></td>

              
        </tr>
    </table>
    
    <div class="col-12">
        <div class="r">
            <div class="cont">
                <button class="a1"><a href="BillPayment.html" ><img src="Home/icons8-receive-dollar-50.png"></a></button>
                <button class="a2"><a href="ChannelYourDoctor.html" ><img src="Home/stethoscope 1.png"></a></button>
                <button class="a3"><a href="contac"><img src="Home/health-service 1.png"></a></button>
                
                <button class="a4"><a href="our"><img src="Home/support 1.png"></a></button>
                <button class="a5"><a href="about"><img src="Home/group 1.png"></a></button>
                <div class="center">"The ground work for all happiness is health"</div>
                <div class="comment">-Leigh Hunt-</div>
                <img src="Home\R 2.png" alt="Home" class="img1">
                <button class="facility-button">Our Facilities</button>
            </div>

        </div>
        
        

    </div>
    <div class="continer">
        <div class="row">
            <div class="col-4">
                <div class="t1" >24 Hour Open <br>Laboratory</div>
                <div class="t2">Scan Facility</div>
                <div class="t3">24 Hour Open Pharmacy</div>
                <img class="im2" src="Home\Group 41.png">
                <img class="im3"src="Home\Mask group.png">
                <img class="im4" src="Home\markus-winkler-pOu_UmkOG-0-unsplash 2.png">
    
            </div>

        </div>
        

    </div>
    <footer>
        <div class="footer">
            <div class="col-12">
                <div class="row" >
                    <div class="col-4">
                        <h4 class="con">CONTACT US</h4>
                        <h4 class="det">CONTACT DETAILS</h4>
                        <h4 class="loc">LOCATION</h4>
                        <a href=""><img class="footer-image"src="Home/linkedin.png"></a>
                        <a href=""><img class="footer-image1"src="Home/facebook 1.png"></a>
                        <a href=""><img class="footer-image2"src="Home/instagram 1.png"></a>
                        <h5 class="contact-details">
                            Asclepius Hospital Lorance Road, Colombo 04.<br><br> Phone:+94011 152 099 <br><br><a>Email:info@asclepiushospital.lk</a>
                        </h5>
                        <a href=""><img class="map-image" src="Home/Group 71.png"></a>

                    </div>
                </div>

            </div>
            

        </div>
    </footer>
    
    
</body>
</html>