<!doctype html>
<html lang="en">
  <head>
    <title>Our Services</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/Home.css">
    <link rel="boostrap" href="css/bootstrap.min.css">

    
  </head>
  <body>
    <table class="nav">
        <tr >
            <td>
                <img src="Home\Health logo - Made with PosterMyWall 1.png" alt="Logo" class="img">

            </td>
            <td ><a href="/">Home</a></td>
            <td><a href="about">About Us</a></td>
            <td><a href="our">Our Services</a></td>
            <td><a href="contac">Contact Us</a></td>
            <td><a href="stafflogin"><button class="bu1">Staff Login</button></a></td>

              
        </tr>
    </table>
    <div class="service-mid">
        <br><br>
		<div class="slide hi-slide">
		  <div class="hi-prev "></div>
			<div class="hi-next "></div>
			<ul>
				<li><img src="Home/two.png" alt="Img 5" /></li>
                
				
				<li><img src="Home/five.png" alt="Img 2" /></li>
				<li><img src="Home/four.png" alt="Img 3" /></li>
				<li><img src="Home/one.png" alt="Img 4" /></li>
				<li><img src="Home/two.png" alt="Img 5" /></li>
				<li><img src="Home/three.png" alt="Img 6" /></li>
				
			</ul>
		</div>
		
		
		
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="js/jquery.hislide.js" ></script>
		<script>
			$('.slide').hiSlide();
		</script>

    </div>
    <footer>
        <div class="footer">
            <div class="col-12">
                <div class="row" >
                    <div class="col-4">
                        <h4 class="con">CONTACT US</h4>
                        <h4 class="det">CONTACT DETAILS</h4>
                        <h4 class="loc">LOCATION</h4>
                        <a href=""><img class="footer-image"src="Home/linkedin.png"></a>
                        <a href=""><img class="footer-image1"src="Home/facebook 1.png"></a>
                        <a href=""><img class="footer-image2"src="Home/instagram 1.png"></a>
                        <h5 class="contact-details">
                            Asclepius Hospital Lorance Road, Colombo 04.<br><br> Phone:+94011 152 099 <br><br><a>Email:info@asclepiushospital.lk</a>
                        </h5>
                        <a href=""><img class="map-image" src="Home/Group 71.png"></a>

                    </div>
                </div>

            </div>
            

        </div>
    </footer>
  </body>
</html>