<!doctype html>
<html lang="en">
  <head>
    <title>Reception</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/Home.css">
    <link rel="boostrap" href="css/bootstrap.min.css">
    <script src="js/Reception.js" type="text/javascript"></script>
    
  </head>
  <body>
    <table class="nav">
        <tr >
            <td>
                <img src="Home\Health logo - Made with PosterMyWall 1.png" alt="Logo" class="img">

            </td>
            <td ><a href="Home.html">Home</a></td>
            <td><a href="About.html">About Us</a></td>
            <td><a href="OurServices.html">Our Services</a></td>
            <td><a href="ContactUs.html">Contact Us</a></td>
            <td><a href="StaffLogin.html"><button class="bu1">Staff Login</button></a></td>

              
        </tr>
    </table>
    <div class="st-login-mid">
        <div>
            <div>
                <h3 class="h3-d">For Channel the Doctor</h3>
    <form class="reception-form">
      <label style="color: black;font-size: 32px;" for="first-name">Patient First Name:</label>
      <input style="width: 300px;height: 42px;border-radius: 20px; " type="text" id="first-name" name="first-name"><br><br><br>

      <label style="color: black;font-size: 32px;"for="last-name">Patient Last Name:</label>
      <input style="width: 300px;height: 42px;border-radius: 20px; "type="text" id="last-name" name="last-name"><br><br><br>

      <label style="color: black;font-size: 32px;"for="patient-id">Patient ID Number:</label>
      <input style="width: 300px;height: 42px;border-radius: 20px; "type="text" id="patient-id" name="patient-id"><br>

      <label style="color: black;font-size: 32px;margin-left: 700px;margin-top: -210px;position: absolute;"for="dob">DOB:</label>
      <input style="width: 300px;height: 42px;border-radius: 20px; margin-left: 805px;position: absolute;margin-top: -215px;"type="date" id="dob" name="dob"><br>

      <label style="color: black;font-size: 32px;position: absolute;margin-left: 655px; margin-top: -167px;"for="contact-number">Contact Number:</label>
      <input style="width: 300px;height: 42px;border-radius: 20px;position: absolute;margin-left: 805px;margin-top: -150px; "type="tel" id="contact-number" name="contact-number"><br>

      <label style="color: black;font-size: 32px;position: absolute;margin-left: 675px ;margin-top: -100px;"for="doctor-name">Doctor Name:</label>
      <input style="width: 300px;height: 42px;border-radius: 20px;position: absolute;margin-left:805px ;margin-top: -85px; "type="text" id="doctor-name" name="doctor-name"><br>

      <input style="background-color: #4AAFB3;font-size: 24px;width: 220px;height: 58px;position: absolute;margin-left: 420px;margin-top: 20px;" href=""type="submit" value="Register">
    </form >
               
            <hr style="position: absolute;width: 1100px;background-color: black;color: black;border-color: black;margin-top: 600px;margin-left: 110px;"> 
            
            <form action="/admit-patient" method="post" class="patient-form">
                <h3 class="h3-d" style="margin-top: -100px;margin-left: -15px;">For Admit Patient only</h3>
                <label style="color: black;font-size: 32px;" for="custodian-name">Custodian's Name:</label>
                <input style="width: 344px;height: 42px;" type="text" id="custodian-name" name="custodian_name" required><br><br><br>
              
                <label style="color: black;font-size: 32px;"for="custodian-id">Custodian ID:</label>
                <input style="width: 344px;height: 42px;position: absolute;margin-left: 80px;"type="text" id="custodian-id" name="custodian_id" required><br><br><br>
              
                <label style="color: black;font-size: 32px;"for="registered-date">Registered Date:</label>
                <input style="width: 344px;height: 42px;position: absolute;margin-left: 33px;"type="date" id="registered-date" name="registered_date" required><br><br><br>
              
                <label style="color: black;font-size: 32px;"for="ward-no">Ward No:</label>
                <input style="width: 344px;height: 42px;position: absolute;margin-left: 140px;"type="text" id="ward-no" name="ward_no" required><br><br><br>
              
                <input style="color: black;font-size: 24px;height: 58;width: 219px;background-color:#4AAFB3 ;position: absolute;margin-left: 800px;margin-top: -200px;"type="submit" value="Confirm">
              </form>
              
            </div>
        </div>

    </div>
    <footer>
        <div class="footer">
            <div class="col-12">
                <div class="row" >
                    <div class="col-4">
                        <h4 class="con">CONTACT US</h4>
                        <h4 class="det">CONTACT DETAILS</h4>
                        <h4 class="loc">LOCATION</h4>
                        <a href=""><img class="footer-image"src="Home/linkedin.png"></a>
                        <a href=""><img class="footer-image1"src="Home/facebook 1.png"></a>
                        <a href=""><img class="footer-image2"src="Home/instagram 1.png"></a>
                        <h5 class="contact-details">
                            Asclepius Hospital Lorance Road, Colombo 04.<br><br> Phone:+94011 152 099 <br><br><a>Email:info@asclepiushospital.lk</a>
                        </h5>
                        <a href=""><img class="map-image" src="Home/Group 71.png"></a>

                    </div>
                </div>

            </div>
            

        </div>
    </footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>